/*
.idea/

# ignore everything in the root except the "wp-content" directory.
!wp-content/
!deploy.php

# ignore everything in the "wp-content" directory, except: "plugins", "themes" directory
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# ignore all plugins except
wp-content/plugins/*

# ignore all themes except
wp-content/themes/*
!wp-content/themes/csantoro

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite