#home-carousel {
    .home-carousel__pane {
        width: 100%;
        height: 100vh;

        .inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            @media(min-width: 992px) {
                flex-wrap: nowrap;
            }
        }

        .row {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;

            div[class*=col] {

                &.copy {
                    padding: 20px;
                    @media(min-width: 992px) {
                        padding: 20px 10vw;
                    }

                    h2 {
                        color: $lightBlue;
                        /*font-size: 132px;*/
                    }

                    p {
                        font-size: 16px;
                    }
                }

                &.image {
                    align-self: stretch;
                    background: #ccc;
                    padding: 0;

                    &.flip {
                        order: 2;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    #home-carousel__pane-1 {
        text-align: center;
        background: url('images/background-texture.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;

        .copy {
            max-width: 550px;
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: 1em;

            .yellow {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: $yellow;
                }
            }
        }

        p.eyebrow {
            color: $lightBlue;
        }
    }
}