@keyframes fadeInAndSlideOut {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#primary-nav {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    transform: translate(-100%, -100%);
    width: 100%;
    background: #fff;
    opacity: 0;
    animation-name: fadeInAndSlideOut;
    animation-duration: 500ms;
    animation-delay: 1800ms;
    animation-fill-mode: forwards;
    @media(min-width: 992px) {
        transform: none;
        width: 100px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }

    .s-icon {
        width: 30px;
    }

    .santoro {
        width: 20px;
    }

    #primary-hamburger {

    }
}

#mobile-header {
    position: fixed;
    z-index: 2000;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    @media(min-width: 992px) {
        display: none;
    }

    .s-icon {
        width: 40px;
    }
}

#mobile-hamburger {
    width: 40px;
    height: 40px;
    display: block;
    border: 2px solid $lightBlue;

    @media(min-width: 992px) {
        display: none;
    }

    #mobile-close {
        display: none;
        width: 20px;
        height: 20px;
        stroke: red;
    }

    body.primary-nav-active & #mobile-close {
        display: block;
    }
}


#primary-nav-drawer {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(-105%);
    transition: all ease 500ms;
    width: 100%;
    max-width: 700px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: $darkBlue;
    background-color: #fff;
    background-image: url('images/background-texture-light.png');
    background-size: cover;
    @media(min-width: 992px) {
        transform: translateX(-100%);
        width: calc(100% - 100px);
        left: 100px;
        padding: 0 5vw;
    }

    &.active {
        transform: translateY(0);
        opacity: 1;
    }

    #primary-nav-drawer-nav {
        border-bottom: 2px solid $darkBlue;
        margin-bottom: 30px;
        padding-bottom: 30px;

        a {
            display: block;
            color: $darkBlue;
            font-size: 30px;
        }
    }

    p {
        font-size: 14px;
    }

    #primary-nav-drawer-sm {
        svg {
            fill: $darkBlue;

            &:hover {
                fill: black;
            }
        }
    }
}