#schedule-call {
    position: relative;
    overflow: hidden;

    .inner {
        padding: 50px 20px;
        margin: 0 auto;
        max-width: 900px;
        @media(min-width: 992px) {
            padding: 10vw 20px;
            text-align: center;
        }
    }

    h2 {
        font-family: $font-balboa;
        font-size: 90px;
        color: $yellow;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 30px;
        line-height: 1;

        span {
            color: #fff;
        }
    }

    p {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .btn {
        margin-top: 50px;
    }

    .small-s {
        position: absolute;
        right: 10vw;
        top: 0;
        fill: #fff;
        opacity: .15;
        width: 150px;
        height: auto;
    }

    .large-s {
        position: absolute;
        left: 10vw;
        bottom: 0;
        transform: translateY(50%);
        fill: #fff;
        opacity: .15;
        width: 300px;
        height: auto;
    }
}