$darkBlue: #031826;
$darkestBlue: #031521;
$lightBlue: #73EEDC;
$yellow: #FFFF82;

$font-balboa: 'balboa-extra-condensed', helvetica, arial, sans-serif;
$font-din: 'din-2014', helvetica, arial, sans-serif;