#work-grid {
    margin-left: 100px; // account for main nav

    .inner {
        display: flex;
        flex-wrap: wrap;

        .row {
            width: 100%;
            margin: 0;

            div[class*=col] {
                height: 100vh;
                padding: 0;
                opacity: 0;

                &.animateIn {
                    animation-name: animateColumnIn;
                    animation-duration: 1000ms;
                    animation-delay: 200ms;
                    animation-fill-mode: forwards;

                    &:nth-child(2) {
                        animation-delay: 500ms;
                    }
                }

                &.animateOut {
                    opacity: 1;
                    animation-name: animateColumnOut;
                    animation-duration: 500ms;
                    animation-fill-mode: forwards;
                    animation-delay: 0ms;
                }
            }

            @keyframes animateColumnIn {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @keyframes animateColumnOut {
                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }

            .image {
                height: 50%;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .copy {
                height: 50%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                animation-name: animateCopyIn;
                animation-duration: 500ms;
                animation-delay: 500ms;
                animation-fill-mode: forwards;

                h2 {
                    color: $lightBlue;
                    font-family: $font-balboa;
                    font-size: 90px;
                    line-height: 1;
                    margin-bottom: 30px;
                    text-transform: uppercase;
                }

                p {
                    font-size: 20px;
                    letter-spacing: 1px;
                }

                .btn {
                    margin-top: 30px;
                }
            }

            div[class*=col]:hover .copy h2 {
                color: $yellow;
            }
        }
    }
}